<header>
<div >
    <nav class="navbar navbar-default navbar-fixed-top">
         <ul class="nav nav-pills">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/products">Edit Products</a>
            </li>
            <li>
                <a href="/variants">Edit Variants</a>
            </li>
            <li>
                <a href="/images">Edit Images</a>
            </li>
        </ul>
    </nav>
</header>