<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/products">Edit Products</a>
            </li>
            <li>
                <a href="/variants">Edit Variants</a>
            </li>
            <li>
                <a href="/images">Edit</a>
            </li>
        </ul>
    </nav>
</header>